@tailwind preflight;
@tailwind components;
@tailwind utilities;

.lds-hourglass {
  display: block;
  position: relative;
  width: 64px;
  height: 64px;
  margin: auto;
}
.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 6px;
  box-sizing: border-box;
  border: 26px solid #dae1e7;
  border-color: #dae1e7 transparent #dae1e7 transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.11, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}

.form-label {
  display: block;
  color: #606f7b;
  font-weight: 400;
  font-size: 0.65rem;
}

.form-input {
  display: block;
  width: 100%;
  color: #22292f;
  border-width: 1px;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
}
.form-input:focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 3px rgba(52, 144, 220, 0.5);
  box-shadow: 0 0 0 3px rgba(52, 144, 220, 0.5);
}

.stacked-tag-input-form > .form-input {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-right: 0.5rem;
}

.border-t-purple {
  border-top-color: #794acf;
}
